[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
Werkzeug = "2.2.2"
marshmallow = "*"
flask-migrate = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
pytest = "*"
sqlalchemy = "2.0.25"
flask-bcrypt = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
